@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* General Styling */
* {
  margin: 0;
}

body {
  background: white;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
main {
  margin: 5rem 0;
}

/* Nav Bar Styling */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: fixed;
  background: white;
  top: 0;
}

.javascript-example {
  background-color: #00b172;
}

.navigation img {
  width: 10%;
}

/* Show Hide Logic CSS */
.show-img {
  display: block;
}
.hide-img {
  display: none;
}

/* header > img {
  width: 25%;
} */

.navigation ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation ul > li > a {
  text-decoration: none;
  color: #000;
}

.navigation ul > li > a:hover {
  color: #00b172;
}

/* Music For everyone - Styling */

.music {
  height: 600px;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.music p {
  margin-bottom: 0.5rem;
  font-weight: 100;
  font-size: 2rem;
}

/* Whats on spotify - Styling */
.card img {
  width: 20%;
}
.ability h2 {
  text-align: center;
  padding: 2rem 0;
  text-decoration: underline #00b172;
  text-underline-offset: 0.5rem;
  font-size: 2rem;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  padding: 2rem 0rem;
}

.card h3 {
  color: #00b172;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.card p {
  max-width: 150px;
  text-align: center;
  font-weight: 100;
  font-style: 1, 5rem;
}

/* Kanye Styliong */
.kanye {
  height: 800px;
  background: #00b172;
  background-image: url("/images/spotify-icon-white.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  margin: 0 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.kanye img {
  width: 400px;
  margin: 100px;
}

.text-container h3 {
  text-decoration: underline white;
  text-underline-offset: 0.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.text-container p:nth-of-type(odd) {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-container p:nth-of-type(even) {
  font-weight: 100;
  font-size: 1rem;
  max-width: 200px;
  margin-bottom: 1rem;
}
